<p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
<app-wor-video></app-wor-video>

<div *ngIf="loadPage ">

  <div id="fullScreen">
    <div style="width: 33%"></div>
    <div id="container-info"
       [style.--container-info-color]="orderColor"
    >
      <div id="container-header">
        <app-header></app-header>
      </div>
      <div id="container-profile" *ngIf="viewsStatesService.viewProfile | async">
        <div id="container-orderLogo" >
          <img [src]="ordersLogo[orderId-1]">
        </div>
        <div id="container-info-text">
          <div id="container-name-missions">
            <div id="container-name">
              <h1 id="radiantName"><b>{{user?.name}}</b></h1>
            </div>
            <div id="container-missions">
              <h4 id="missionsCompleted"><b> Missions completed: </b> {{user?.knightRadiant?.missionsCompleted}} </h4>
            </div>
          </div>
          <div id="container-radiantOrder">
            <div id="container-orderGlyph"><img id="orderGlyphImg" [src]="ordersGlyph[orderId-1]"></div>
            <h3 id="radiantOrder-name"><a class="power-details" (click)="getOrderDetails()"><b> {{user?.knightRadiant?.radiantOrder?.name}} </b></a></h3>
          </div>

          <div class="container-table-powers">
            <!-- Primera fila -->
            <div class="column1">
              <img class="surgeGlyphImg" [src]="surgesGlyph[firstSurgeGlyph]">
            </div>
            <div class="column2">
              <ng-container *ngIf="user && user.knightRadiant && user.knightRadiant.radiantOrder && user.knightRadiant.radiantOrder.surges[0]">
                <h4><a class="power-details"><b>
                  <!-- Utilizando el operador de navegación segura para evitar el error -->
                  Surge of {{ user.knightRadiant.radiantOrder.surges[0].name ? user.knightRadiant.radiantOrder.surges[0].name : 'Nombre no disponible' }}
                </b></a></h4>
              </ng-container>
            </div>
            <div class="column3">
              <h4><b>{{firstSurgeText}}</b></h4>
            </div>

            <!-- Segunda fila -->
            <div class="column1">
              <img class="surgeGlyphImg" [src]="surgesGlyph[secondSurgeGlyph]">
            </div>
            <div class="column2">
              <ng-container *ngIf="user && user.knightRadiant && user.knightRadiant.radiantOrder && user.knightRadiant.radiantOrder.surges[1]">
                <h4><a class="power-details"><b>
                  <!-- Utilizando el operador de navegación segura para evitar el error -->
                  Surge of {{ user.knightRadiant.radiantOrder.surges[1].name ? user.knightRadiant.radiantOrder.surges[1].name : 'Nombre no disponible' }}
                </b></a></h4>
              </ng-container>
            </div>
            <div class="column3">
              <h4><b>{{secondSurgeText}}</b></h4>
            </div>

            <!-- Tercera fila -->
            <div class="column1">
              <img id="shardbladeImg" src="assets/img/icons/shardblade.png">
            </div>
            <div class="column2">
              <h4><a class="power-details"><b>Shardblade</b></a></h4>
            </div>
            <div class="column3">
              <h4><b>{{shardblade}}</b></h4>
            </div>

            <!-- Cuarta fila -->
            <div class="column1 col3lastFile">
              <img id="shardplateImg" src="assets/img/icons/shardplate.png">
            </div>
            <div class="column2 col3lastFile">
              <h4><a class="power-details"><b>Shardplate</b></a></h4>
            </div>
            <div class="column3 col3lastFile">
              <h4><b>{{shardplate}}</b></h4>
            </div>
          </div>
          <div id="container-ideals" *ngIf="isRadiantIdeal">
            <h3 id="title-pronuncedIdeals"><b>Pronunced Ideals</b></h3>
            <div class="container-ideal" *ngIf="isRadiantFirstIdeal">
              <h4 class="titles-ideals">First ideal</h4>
              <p class="text-ideals">{{radiantFirstIdeal}}</p>
            </div>
            <div class="container-ideal" *ngIf="isRadiantSecondIdeal">
              <h4 class="titles-ideals">Second ideal</h4>
              <p class="text-ideals">{{radiantSecondIdeal}}</p>
            </div>
            <div class="container-ideal" *ngIf="isRadiantThirdIdeal">
              <h4 class="titles-ideals">Third ideal</h4>
              <p class="text-ideals">{{radiantThirdIdeal}}</p>
            </div>
            <div class="container-ideal" *ngIf="isRadiantFourthIdeal">
              <h4 class="titles-ideals">Fourth ideal</h4>
              <p class="text-ideals">{{radiantFourthIdeal}}</p>
            </div>
            <div class="container-ideal" *ngIf="isRadiantFifthIdeal">
              <h4 class="titles-ideals">Fifth ideal</h4>
              <p class="text-ideals">{{radiantFifthIdeal}}</p>
            </div>
          </div>
          <button (click)="setMissionsCompleted(radiantId)">Set missions completed</button>
        </div>
      </div>
      <app-radiant-order-details *ngIf="viewsStatesService.viewOrderDetails | async"></app-radiant-order-details>
    </div>
    <div style="width: 33%"></div>
  </div>
</div>

<app-kr-radiant-order-form *ngIf="orderForm"></app-kr-radiant-order-form>
