h1, h2, h3, h4, h5, p{
  color: white;
}

h2 {
  margin-bottom: 3%;
}

p {
  font-size: 110%;
}

img {
  width: 100%;
  height: auto;
}

.power-details {
  color: #ffffff;
  text-decoration: none; /* Elimina el subrayado del enlace */
  cursor: pointer; /* Cambia el cursor a la mano */
}

.power-details:hover {
  text-shadow: 2px 2px 2px rgb(255, 255, 255); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, y color de la sombra */
}

#fullScreen {
  height: 100%;
  width: 100%;
  display: flex;
}
#container-info {
  height: 100%;
  width: 34%;
  opacity: 70%;
  background-color: var(--container-info-color, #866c46);
}

#container-header {
  height: 10%;
}

#container-orderLogo {
  width: 100%;
  overflow: hidden; /* Para recortar la imagen si es más grande que el contenedor */
  position: relative; /* Para establecer el contexto de posición */
}

#container-info-text {
  margin: 3%;
}

#container-name-missions {
  width: 100%;
  display: flex;
  margin-bottom: 3%;
}

#container-name {
  width: 50%;
}
#container-missions {
  width: 50%;
}

#missionsCompleted {
  margin-top: 2%;
  text-align: right;
}

#radiantName {
  margin-right: 5%;
}

#container-radiantOrder {
  width: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  margin-bottom: 3%;
}

#radiantOrder-name {
  margin-left: 3%;
  text-decoration: underline;
}

#container-orderGlyph {
  width: 6%; /* Ancho del contenedor */
  height: 6%; /* Altura del contenedor */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
  background-color: lightgray; /* Color de fondo del contenedor */
  margin-left: 3%;
  margin-top: -1%; /* Ajusta el margen superior para mover el contenedor hacia arriba */
  display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
  vertical-align: middle; /* Alinea el contenedor verticalmente con respecto al texto */
}
#orderGlyphImg {
  width: 100%; /* La imagen ocupará el 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.container-table-powers {
  display: grid;
  grid-template-columns: 15% 50% 30%;
  gap: 2.5%; /* Espacio entre las columnas */
  margin-bottom: 6%;
}

.column1, .column2, .column3 {
  border-bottom: 1px solid white;
  border-bottom: 1px solid white;
  display: flex; /* Utilizamos flexbox */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.column1 > *, .column2 > *, .column3 > * {
  display: inline-block; /* Permite que text-align: center; surta efecto */
  max-width: 100%; /* Opcional: establece una anchura máxima para el contenido */
}

.col3lastFile {
  border: none;
}

.container-surge {
  width: 100%;
  display: flex;
}

.container-surgeGlyph {
  width: 6%; /* Ancho del contenedor */
  height: 6%; /* Altura del contenedor */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -1%; /* Ajusta el margen superior para mover el contenedor hacia arriba */
  display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
  vertical-align: middle; /* Alinea el contenedor verticalmente con respecto al texto */
}
.surgeGlyphImg {
  width:35%; /* La imagen ocupará el 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.container-shard {
    width: 100%;
    display: flex;
    margin-top: 2%;
}

#container-shardbladeImg {
    width: 8%; /* Ancho del contenedor */
    height: 8%; /* Altura del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -1%; /* Ajusta el margen superior para mover el contenedor hacia arriba */
    display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
    vertical-align: middle; /* Alinea el contenedor verticalmente con respecto al texto */
}
#shardbladeImg {
    width: 40%; /* La imagen ocupará el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

#container-shardplateImg {
    width: 18%; /* Ancho del contenedor */
    height: 18%; /* Altura del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -1%; /* Ajusta el margen superior para mover el contenedor hacia arriba */
    display: inline-block; /* Hace que el contenedor se comporte como un elemento en línea */
    vertical-align: middle; /* Alinea el contenedor verticalmente con respecto al texto */
}
#shardplateImg {
    width: 34%; /* La imagen ocupará el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.shard-available {
    margin-top: 0.7%;
}

#container-ideals {
  text-align: center;
}

#title-pronuncedIdeals {
    text-decoration: underline;
    margin-bottom: 3%;
}

.titles-ideals {
}

.text-ideals {
    font-style: italic;
    font-size: 120%;
}

.tachon {
  position: relative;
}

.tachon::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 35%;
  width: 100%;
  height: 6%; /* Grosor de la línea de tachado */
  background-color: white; /* Color de la línea de tachado */
}
