<div class="video-background">
  <div id="title-zone">
    <div id="half-one-row-one"></div>
    <div id="row-title">
      <div id="pre-column-title"></div>
      <div id="column-title"></div>
    </div>
  </div>
  <div id="zone-form">
    <div class="half-two"></div>
    <div id="row-form">
      <div class="col-row-form"></div>
      <div class="col-row-form"></div>
      <div class="col-row-form"></div>
      <div class="col-row-form">
        <form id="form">
          <div class="text-center">
            <label for="userName" class="form-label">Name</label>
            <input [(ngModel)]="email" type="text" class="form-control" id="userName" name="name">
          </div>
          <div class="row-btw-input"></div>
          <div class="text-center">
            <label for="userPassword" class="form-label">Password</label>
            <input [(ngModel)]="password" type="text" class="form-control" id="userPassword" name="userPassword">
          </div>
          <div class="row-btw-input"></div>
          <div class="text-center">
            <label for="repeatPassword" class="form-label">Repeat password</label>
            <input [(ngModel)]="repeatPassword" type="text" class="form-control" id="repeatPassword" name="repeatPassword">
          </div>
          <div class="row-btw-input"></div>
          <div class="row-btns"></div>
          <div id="row-buttons">
            <div class="col-buttons text-center">
              <button class="btn btn-info" (click)="back()">Back</button>
            </div>
            <div class="col-buttons text-center">
              <button type="submit" class="btn btn-primary" (click)="registerUser()" style="margin-left: 5%;">Register</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-row-form"></div>
      <div class="col-row-form"></div>
      <div class="col-row-form"></div>
    </div>
    <div class="half-two"></div>
    <div class="half-two"></div>
    <div class="half-two"></div>
  </div>
</div>
