<div class="div-select-order text-center">
    <h1>What type of radiant are you?</h1>
    <button (click)="setOrderRadiant(1)">Windrunner</button> <br>
    <button (click)="setOrderRadiant(2)">Skybreaker</button> <br>
    <button (click)="setOrderRadiant(3)">Dustbringer</button> <br>
    <button (click)="setOrderRadiant(4)">Edgedancer</button> <br>
    <button (click)="setOrderRadiant(5)">Truthwatcher</button> <br>
    <button (click)="setOrderRadiant(6)">Lightweaver</button> <br>
    <button (click)="setOrderRadiant(7)">Elsecaller</button> <br>
    <button (click)="setOrderRadiant(8)">Willshaper</button> <br>
    <button (click)="setOrderRadiant(9)">Stoneward</button> <br>
    <button (click)="setOrderRadiant(10)">Bondsmith</button> <br>
</div>
