<div class="containers">
        <div class="container">
            <h1>Surges list</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">DETAILS</th>
                <th scope="col">UPDATE</th>
                <th scope="col">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of surges">
                <td>{{s.name}}</td>
                <td>{{s.description}}</td>
                <td><button class="btn btn-info" [routerLink]="['/knightsRadiant/surges/id', s.id]">Details</button></td>
                <td><button class="btn btn-primary" (click)="updateSurge(s.id)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteSurge(s.id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
        <a routerLink="/knightsRadiant/surges/create" class="btn btn-primary"> Create Surge</a>
    </div>
</div>