<div class="video-background">
  <app-wok-video></app-wok-video>
  <app-kr-radiant-order-form *ngIf="viewStatesService.viewRadiantForm$ | async"></app-kr-radiant-order-form>
    <div id="title-zone"*ngIf="!(viewStatesService.viewRadiantForm$ | async)">
      <div id="half-one-row-one"></div>
      <div id="row-title">
        <div id="pre-column-title"></div>
        <div id="column-title"></div>
      </div>
    </div>
    <div id="zone-buttons" *ngIf="viewStatesService.viewStart$ | async">
      <div class="half-two"></div>
      <div class="half-two"></div>
      <div class="half-two"></div>
      <div class="half-two"></div>
      <div class="half-two" id="row-buttons">
        <div class="col-buttons"></div>
        <div class="col-buttons">
          <div class="col-buttons-2-col"></div>
          <div class="col-buttons-2-col">
            <button id="bttn-login" type="button" class="btn me-2" (click)="logIn()">Log In</button>
          </div>
          <div class="col-buttons-2-col">
            <button id="bttn-register" type="button" class="btn ms-2" (click)="register()">Register</button>
          </div>
          <div class="col-buttons-2-col"></div>
        </div>
        <div class="col-buttons"></div>
      </div>
      <div class="half-two"></div>
      <div class="half-two"></div>
      <div class="half-two"></div>
  </div>
  <app-user-login *ngIf="viewStatesService.viewLogin$ | async"></app-user-login>
  <app-user-register *ngIf="viewStatesService.viewRegister$ | async"></app-user-register>
</div>
