<div class="video-background">
  <div id="title-zone">
    <div id="half-one-row-one"></div>
    <div id="row-title">
      <div id="pre-column-title"></div>
      <div id="column-title"></div>
    </div>
  </div>
  <div id="zone-buttons">
    <div class="half-two"></div>
    <div class="half-two"></div>
    <div class="half-two"></div>
    <div class="half-two"></div>
    <div class="half-two" id="row-buttons">
      <div class="col-buttons"></div>
      <div class="col-buttons">
        <div class="col-buttons-2-col"></div>
        <div class="col-buttons-2-col">
          <button type="button" class="btn btn-primary me-2" (click)="logIn()">Log In</button>
        </div>
        <div class="col-buttons-2-col">
          <button type="button" class="btn btn-secondary ms-2" (click)="register()">Register</button>
        </div>
        <div class="col-buttons-2-col"></div>
      </div>
      <div class="col-buttons"></div>
    </div>
    <div class="half-two"></div>
    <div class="half-two"></div>
    <div class="half-two"></div>
  </div>
</div>
